<form action="/form" method="post">
    <input type="text" name="nome" id="" placeholder="Nome">
    <input type="email" name="email" id="" placeholder="E-mail">
    <input type="submit" value="Enviar">
</form>